body,
#app,
html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store,
html#ecwid_html body#ecwid_body.show-store {
  font-family: 'EB Garamond', sans-serif;
}

/*#app nav ul.menu > li,
html#ecwid_html body#ecwid_body.show-store h2,
html#ecwid_html body#ecwid_body.show-store h3,
#app h2, 
#app h3,
#app h4,
#app h5, 
#app h6 {
  font-family: 'Roboto', serif;
}*/

a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

section#ecwid-store-container,
#store-nav > .inner,
#app {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
}

#app.show-detail {
  background-color: white;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgb(228,228,228);
  transition: opacity 1s ease-in-out, z-index 0s linear 1s;
  animation: loader 2s 1;
}

#loading-overlay .element {
  position: absolute;
}

#loading-overlay .bg {
  left: 10%;
  right: 10%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#loading-overlay .progress {
  width: 30%;
  height: 30%;
}

#loading-overlay .progress-left {
  top: 7.5%;
  left: 10%;
}

#loading-overlay .progress-right {
  top: 35%;
  right: 10%;
}

#loading-overlay .progress img {
  width: 100%;
  height: 100%;
}

#loading-overlay .lucia {
  top: 25%;
  bottom: 30%;
  background-image: url(/static/images/santa-lucia-di-siracusa.svg);
  animation: lucia 2s 1;
}

#loading-overlay .logo {
  bottom: 1%;
  height: 15vh;
  opacity: 0.5;
  background-image: url(/static/images/logo-font-black.svg);
  transform: scale(1.333,0.75) skew(-3deg);
  animation: loading-logo 2s 1;
  z-index: 10;
}

@keyframes loader {
  0% {
    background-color: rgb(255,255,255);
  }
  100% {
    background-color: rgb(228,228,228);
  }
}

@keyframes lucia {
  0% {
    transform: scale(0.75);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes loading-logo {
  0% {
    opacity: 0;
    transform: scale(1,1) skew(0deg);
  }
  100% {
    opacity: 0.5;
    transform: scale(1.333,0.75) skew(-3deg);
  }
}

body.show-loading #loading-overlay {
  z-index: 100;
  opacity: 1;
}

#app .store-nav .bg-solid,
body {
  background-color:  rgb(228,228,228);
}

#app .store-nav .bg-element {
  position: absolute;
  right: 0;
  left: 0;
  transition: background-color .5s ease-in-out;
  pointer-events: none;
}

#app .store-nav > .bg-menu {
  transition: opacity .125s ease-in-out;
}

.plain,
.plain > li,
.dot-nav > li,
.arrow-nav > li,
.flex-slides > li {
  list-style: none;
  outline: none;
}

.plain,
.plain > li {
  padding: 0;
  margin: 0;
}

.flex-slides li figure {
  position: relative;
}

.flex-slides li figcaption {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  padding: 0.75em 5%;
  z-index: 8;
}

#app .store-nav .bg-solid {
  height: 92%;
  top: 0;
}

#app .store-nav .bg-menu {
  height: 100%;
  top: 0;
  opacity: 0;
}

#app .store-nav .bg-transition {
  bottom: 0;
  height: 8%;
  background-image: linear-gradient(to bottom,rgba(228,228,228,1), rgba(228,228,228,0));
}



#app footer {
  padding: 2em 0;
}

#app > nav.store-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  z-index: 50;
}

#app > nav.store-nav > .inner {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: center;
  transition: height 0.5s ease-in-out;
}

#main-logo {
  background-image: url('/static/images/logo-font-black.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 2.4em;
  width: 50%;
  opacity: 0.6667;
  transform: scale(1, .8) skew(0deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

.show-menu #main-logo,
#main-logo:hover {
  transform: scale(1.25, 1) skew(0deg);
  opacity: 1;
}

#main-logo:hover {
  transform: scale(1.25, 1) skew(-3deg);
}

.menu-toggle {
  position: absolute;
  left: 2.5%;
  top: 0.125em;
  font-size: 1.667em;
  opacity: 0.5;
  transition: all .5s ease-in-out;
  z-index: 30;
  cursor: pointer;
}

.show-menu .menu-toggle {
  transform: rotate(90deg) scale(0.8,1.25);
}

.menu-toggle:hover {
  opacity: 0.75;
}

#app nav ul.menu,
#app nav ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

#app nav ul.menu {
  position: absolute;
  top: 2em;
  padding: 0.5em 0 1em 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity .6667s ease-in-out, max-height 1s ease-in-out;
  background-color: white;
  max-height: 1em;
  overflow: hidden;
}

#app.show-menu ul.menu {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
  max-height: 30em;
}

#app.show-menu nav.store-nav .bg-menu {
  background-color: white;
  opacity: 1;
}

#app.show-menu nav.store-nav .bg-solid,
#app.show-menu nav.store-nav .bg-transition {
  opacity: 0;
}

nav ul.menu > li {
  font-size: 1.25em;
  line-height: 1em;
}

body.show-store .back-to-cart,
body.show-store .back-to-main {
  opacity: 0.6667;
  pointer-events: all;
  cursor: pointer;
  z-index: 100;
}

body.show-store #app .show-cart {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

#app .main {
  transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  margin-top: 2.4em;
}
body.show-store #app .main {
  position: fixed;
  z-index: -1;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#app .home-pane,
#app .detail-pane {
  transition: opacity 0.5s ease-in-out;
}

#app .detail-pane {
  padding: .5em 2.5%;
  background-color: white;
}

#app.show-home .home-pane,
#app.show-detail .detail-pane {
  position: relative;
  pointer-events: all;
  z-index: 2;
  opacity: 1;
}

#app.show-home .home-pane {
  margin-top: 1em;
}

#app.show-home .detail-pane,
#app.show-detail .home-pane {
  position: absolute;
  top:  0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  height: 0;
  max-height: 0;
  overflow: hidden;
}

#app nav ul.menu > li a {
  width: 95%;
  display: block;
  padding: 0.125em 2.5%;
}

#app .show-cart {
  position: absolute;
  right: 2.5%;
  top: 0.5em;
  width: 20em;
  height: 1.6em;
  background-image: url(/static/images/shopping-cart.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 2em 100%;
  opacity: .5;
  transform: skew(0deg);
  transition: all 0.5s ease-in-out;
}

#app .show-cart .num {
  opacity: 0;
}

#app .show-cart .micro-cart {
  opacity: 0;
  pointer-events: none;
  background-color: rgb(228,228,228);
  font-size: 0.75em;
  margin: 3em 0 1em 0;
  padding: 0.75em 0.5em 0.25em 0.5em;
  transition: opacity 0.5s ease-in-out;
  text-align: left;
}

#app .show-cart .micro-cart .subtotal {
  margin: 0.25em 0;
  padding: 0.25em 0;
  border-top: dashed 1px black;
  text-align: right;
}

#app .show-cart .micro-cart {
  width: 100%;
  
}

,
#app .show-cart .micro-cart .ordered-items {
  width: 100%;
}

#app .show-cart .micro-cart .ordered-items li {
  white-space: nowrap;
}

#app .show-cart:hover .micro-cart {
  opacity: 1;
}

#app .show-cart .num {
  position: absolute;
  right: 3em;
  top: 0;
  display: block;
  font-size: 0.8em;
  padding: 0.125em;
}

#app footer .info {
  margin: 0.75em auto;
}

#app footer .admin {
  position: absolute;
  bottom: 2em;
  padding: 1em 2.5vw;
  right: 0;
}

#app footer .admin span.clear {
  display: inline-block;
  margin-right: 2em;
  width: 1em;
  height: 1em;
  opacity: 0;
  transform: rotate(-45deg);
  cursor: pointer;
}

#app footer .developed-by,
#app footer .admin a {
  opacity: 0;
  display: block;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out .5s;
}

#app footer .admin a {
  transform: rotate(90deg);
}

#app footer .developed-by {
  transform: scale(-1, 1);
  margin-bottom: -.5em;
}

#app footer .admin:hover a {
  opacity: 1;
  transform: rotate(0deg);
}

#app footer:hover .admin .clear,
#app footer:hover .developed-by {
  opacity: 1;
}

#app footer:hover .developed-by {
  transform: scale(1, 1);
}

#app .show-cart.has-items {
  cursor: pointer;
  opacity: 1;
  z-index: 90;
}

#app .show-cart.has-items .num {
  opacity: 1;
}

#app .product-overlay .close {
  transition: top 0.5s ease-in-out;
}

@media screen and (max-height: 20em) {
  #app nav ul.menu {
    height: 100vh;
  }
}

@media screen and (min-height: 20em) {
  #app nav ul.menu > li a {
    padding: 0.25em 2.5%;
  }
}

@media screen and (min-height: 30em) {
  #app nav ul.menu > li a {
    padding: 0.375em 2.5%;
  }
}

@media screen and (min-height: 40em) {
  #app nav ul.menu > li a {
    padding: 0.5em 2.5%;
  }
}

@media screen and (min-width: 30em) {

  #main-logo {
    height: 2.8em;
  }

  #app .main {
    margin-top: 3em;
  }

}

@media screen and (min-width: 40em) {

  #app > nav.store-nav {
    height: 3em;
  }

  #app .main {
    margin-top: 3.3333em;
  }

  #app nav ul.menu > li {
    font-size: 1.33em;
  }
  section#ecwid-store-container {
    top: 6.5em;
  }

  #main-logo {
    height: 3.2em;
  }

  #app .show-cart {
    height: 1.8em;
  }
  #app .menu-toggle {
    font-size: 2em;
  }

  #app .show-cart .num {
    right: 4em;
  }
  #app .show-cart .micro-cart {
    margin-top: 4em;
  }
}

@media screen and (min-width: 50em) {

  #app nav ul.menu > li {
    font-size: 1.5em;
  }
  section#ecwid-store-container {
    top: 7em;
  }

  #app .show-cart {
    height: 2em;
  }
  #app .menu-toggle {
    font-size: 2.25em;
  }
  #main-logo {
    height: 3.6em;
  }
}

@media screen and (min-width: 60em) {
  
  #app nav ul.menu > li {
    font-size: 1.667em;
  }
  section#ecwid-store-container {
    top: 8em;
  }

  #app .show-cart {
    height: 2.4em;
    top: 0.625em;
    background-size: 3em 100%;
  }
  #app .menu-toggle {
    font-size: 2.5em;
  }

  #app > nav.store-nav {
    height: 3.5em;
  }

  #app .main {
    margin-top: 3.75em;
  }

  #app nav ul.menu {
    top: 3.5em;
  }
  #main-logo {
    height: 4em;
  }

  /*#app.show-menu #main-logo {
    max-height: 4.5em;
  }*/

  /*#app.scrolled-up #main-logo {
    height: 7.2em;
  }
  #app.scrolled-up > nav.store-nav {
    height: 6em;
  }
  #app.scrolled-up .main {
    margin-top: 6em;
  }

  #app.show-detail.scrolled-up #main-logo {
    height: 6em;
  }
  #app.show-detail.scrolled-up > nav.store-nav {
    height: 5em;
  }
  #app.show-detail.scrolled-up .main {
    margin-top: 4em;
  }

  #app.scrolled-up .product-overlay .close {
    top: 3em;
  }*/
}

@media screen and (min-width: 80em) {
  #app nav ul.menu > li {
    font-size: 1.875em;
  }
  section#ecwid-store-container {
    top: 9em;
  }

  #app .show-cart {
    height: 2.667em;
  }
  #app .menu-toggle {
    font-size: 2.667em;
  }
  #app > nav.store-nav {
    height: 4em;
  }

  #app .main {
    margin-top: 4em;
  }

  #app nav ul.menu {
    top: 4em;
  }
  #main-logo {
    height: 4.5em;
  }
  /*#app.scrolled-up #main-logo {
    height: 8em;
  }
  #app.scrolled-up > nav.store-nav {
    height: 6.8em;
  }

  #app.scrolled-up .main {
    margin-top: 6.8em;
  }
  #app.scrolled-up .product-overlay .close {
    top: 3.5em;
  }

  #app.show-detail.scrolled-up #main-logo {
    height: 6.4em;
  }

  #app.show-detail.scrolled-up > nav.store-nav {
    height: 5.4em;
  }
  #app.show-detail.scrolled-up .main {
    margin-top: 4.4em;
  }*/
}

@media screen and (min-width: 90em) {
   #app .show-cart {
    height: 3.333em;
  }
  #app .menu-toggle {
    font-size: 3em;
  }
  #app > nav.store-nav {
    height: 4.5em;
  }
  #app nav ul.menu {
    top: 4.5em;
  }
  #main-logo {
    height: 5em;
  }

  #app nav ul.menu > li {
    font-size: 2em;
  }
}


html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .product-details__product-title,
html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .product-details__product-price {
  font-size: 2em;
}

html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .ec-footer a,
html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .form-control--large .form-control__button,
html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .product-details-module__title {
  font-size: 1em;
}

html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .form-control--large .form-control__button {
  border: solid 1px black;
}

html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .form-control--large .form-control__button:hover {
  background-color: black;
}

html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .form-control--large .form-control__button * {
  color: black;
}

html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .form-control--large .form-control__button:hover * {
  color: white;
}

html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--s .ec-store .details-product-purchase__controls {
  max-width: 100%;
}

section#ecwid-store-container {
  top: 6em;
}

section#ecwid-store-container,
#app .bg-white {
    background-color: white;
}

html#ecwid_html body#ecwid_body.show-cart-widget div.ecwid-minicart {
  opacity: 1;
  pointer-events: all;
}

html#ecwid_html body#ecwid_body.front div.ecwid-minicart-link,
html#ecwid_html body#ecwid_body.front div.ecwid-minicart-caption {
  width: 100%;
}

html#ecwid_html body#ecwid_body.front div.ecwid-minicart-caption {
  top: 6em;
}

html#ecwid_html body#ecwid_body.front div.ecwid-minicart-link {
  top: 0;
  height: 8em;
}

html#ecwid_html body#ecwid_body div.ecwid-minicart-link span {
  display: inline-block;
  text-indent: -999em;
  font-size: 1em;
  width: 100%;
  height: 8em;
  opacity: 0;
}

html#ecwid_html body#ecwid_body.show-store span.ecwid-productBrowser-cart-weight,
html#ecwid_html body#ecwid_body.show-store div.ecwid-productBrowser-productNameLink *,
html#ecwid_html body#ecwid_body.show-store .ecwid .ecwid-btn,
html#ecwid_html body#ecwid_body.show-store .ecwid a {
  font-size: 1em;
}

html#ecwid_html body#ecwid_body.show-store .ecwid .ecwid-btn {
  padding: 0.5em 1em;
}

html#ecwid_html body#ecwid_body.front div.ecwid-minicart-clickArea {
  top: 0.5em;
  left: 2em;
  width: 4em;
  height: 5em;
  background-size: contain;
  transition: transform .5s ease-in-out;
}

html#ecwid_html body#ecwid_body.front div.ecwid-minicart:hover div.ecwid-minicart-clickArea {
  transform: scale(1.125) translate(0,0.125em);
}

html#ecwid_html body#ecwid_body.front div.ecwid-minicart-counter {
  left: 2em;
  top: 2em;
  font-size: 1.5em;
  line-height: 1em;
  transition: filter 0.25s ease-in-out;
}

html#ecwid_html #ecwid-store-container {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.75s ease-in-out;
  background: none;
}

html#ecwid_html body.show-store #ecwid-store-container {
  position: relative;
  opacity: 1;
  z-index: 2;
  pointer-events: all;
  z-index: 20;
  width: 100%;
  margin: 0 auto;
}

html#ecwid_html body.show-store #ecwid-store-container > div.ecwid {
  max-width: 80em;
  margin: 0 auto;
}

#app p,
#app nav ul.menu li,
#app ul,
#app li,
#app ol,
#app figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely__widget,
html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely__widget:hover {
  background: none;
}

html#ecwid_html body#ecwid_body.front div.ecwid-minicart,
html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .ec-breadcrumbs,
html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely__widget .likely__button {
  display: none;
}

html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely__widget {
  transition: transform 0.5s ease-in-out;
}
html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely__widget:hover {
  transform: scale(1.25);
}

html#ecwid_html body#ecwid_body.show-store .ec-size.ec-size--xl .ec-store .form-control--large .form-control__button {
  background:none;
  min-height: 4em;
}

html#ecwid_html  body#ecwid_body.show-store div.ecwid-productBrowser-cart-hint {
  font-size: 0.9em;
}

html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely svg {
  height: 3em;
  width: 3em;
  left: 0;
  top: 0;
}

html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely .likely__icon {
  width: 4em;
  height: 5em;
}

html#ecwid_html body#ecwid_body.show-store .ec-size .ec-store .likely__wrapper {
  margin: 0.5em 0;
  overflow: visible;
}

html#ecwid_html body#ecwid_body div.ecwid-minicart {
  z-index: 200;
  opacity: 1;
}

html#ecwid_html body#ecwid_body button.ecwid-btn--continueShopping {
  opacity: 0;
}

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart table tbody tr table tbody tr table tbody tr td.ecwid-productBrowser-cart-itemsTable-cell {
  background-color: white;
}

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart table tbody tr table tbody tr table tbody tr .ecwid-productBrowser-cart-itemsTable-price-compact {
  padding-right: 0.5em;
}